@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{margin: 0;
padding: 0;
border: 0;}

body{font-family: lato;
color: ghostwhite;}

h1{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: darkgreen;
}

#logo{float: left;
font-size: 280%;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}
#hero-image{height: 600px;
width: 100%;
    background: url("https://pixabay.com/photos/alternative-aromatherapy-avocado-906138//workspace/Vegan-Awe/Assets/images/alternative-906138_640.jpg") no-repeat center center;
}